<p id="notice"><%= notice %></p>

<p>
  <h2>
  <%= @user.username %>
  </h2>
</p>
<p> has made <%= pluralize(@user.ratings.count, 'rating') %>


<h2>ratings</h2>
<% unless @user.ratings.empty? %>
<ul>
    <% @user.ratings.each do |rating| %>
      <li>
      <%= rating %>
      <%= link_to 'delete', rating, method: :delete %>
      </li>
    <% end %>
</ul>
  <p> average rating is <%= @user.average_rating %>
<% else %>
  <p> no ratings!</p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
